# PostgreSQL Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://<host>:<port>/<database_name>
SPRING_DATASOURCE_USERNAME=<database_user>
SPRING_DATASOURCE_PASSWORD=<database_password>

# JWT Configuration
JWT_SECRET=7y9B$mK#w2p!8vQs@Z4xNcV&u*b1n6mR
JWT_EXPIRATION=86400000
